
{% block search %}
<div class="container">
     <div class="starter-template">
       <div class="row" style="height:100vh;">
               <div class="col-md-10 col-md-offset-1">
                   <table class="table">
                     <thead>
                       <tr>
                         <th>Category</th>
                         <th>Price</th>
                         <th>Title</th>
                       </tr>
                     </thead>
                     <tbody>
                       {% for val in output %}
                       <tr>
                         <td>{{val[0]}}</td>
                         <td>{{val[1]}}</td>
                         <td>{{val[2]}}</td>
                       </tr>
                       {% endfor %}
                     </tbody>
                   </table>
               </div>
       </div>
     </div>
   </div>
{% endblock %}